# MediaWiki API endpoint (required)
MW_API_URL=https://solarmeta.evecraft.ru/api.php

# MediaWiki username (required)
MW_USERNAME=

# Auth (required): use ONE of these, prefer bot password
# Option 1 (preferred):
MW_BOT_PASSWORD=

# Optional custom user-agent
MW_USER_AGENT=RUNI_Wiki push client

